.container-head {
  position: relative;
  width: auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 520px;
  width: 100%;  
  background-color: #c2a800;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
