.new-tweet {
  display: flex;
  flex-flow: column wrap;
  /* margin: 0.25em; */
}

.new-tweet form {
  /* position: relative; */
  display: flex;
  flex-flow: column;
}

.new-tweet form textarea {
  /* width: 100%;
  position: absolute;
  top: 0;
  left: 0; */
  background-color: #f4f1ec;
  outline: 0;
  border-width: 0 0 2px;
  border-color: sienna;
  z-index: 9;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.new-tweet div button {
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;
  color: #FFFF;
}
