.new-tweet {
  display: flex;
  flex-flow: column wrap;
}

.new-tweet form {
  display: flex;
  flex-flow: column;
}

.new-tweet form textarea {
  background-color: #f4f1ec;
  outline: 0;
  border-width: 0 0 2px;
  border-color: initial;
  resize: none;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  margin-top: 0.5em;
}

.new-tweet div button {
  background-color: #4056a1;
  color: #ffff;
  border-color: #4056a1;
}

.tweet-body {
  word-break: break-word;
}