.new-tweet {
  display: flex;
  flex-flow: column wrap;
  /* margin: 0.25em; */
}

.new-tweet form {
  /* position: relative; */
  display: flex;
  flex-flow: column;
}

.new-tweet form textarea {
  background-color: #f4f1ec;
  outline: 0;
  border-width: 0 0 2px;
  border-color: initial;
  resize: none;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  margin-top: 0.5em;
}

.new-tweet div button {
  background-color: #4056a1;
  /* font-family: "Bungee", sans-serif; */
  color: #ffff;
  border-color: #4056a1;
}
